header {
  margin: 39px auto 226px;
  max-width: 1110px;
  @media screen and (max-width:1172px) {
    margin: 24px auto 186px;
    max-width: 689px;
    } 
    
    @media screen and (max-width:764px) {
      margin: 16px auto 0;
      max-width: 343px;
      position: relative;
    }

  &::after{
    @media screen and (max-width:1172px) {
        background:  url(../images/image-hero-tablet.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 640.71px;
        height: 640px;
        right: -235px;
        top: -50px;
    }

    @media screen and (max-width:764px) {
      margin: 0 auto;
      display: block;
      background:  url(../images/image-hero-mobile.png);
      background-repeat: no-repeat;
      background-size: contain;
      height: 331.38px;
      width: auto;
      position:relative;
      z-index: 1;
      top: auto;
      left: 0;
    }

  
    content: "";
    position: absolute;
    z-index: -1;
    background:  url(../images/image-hero-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 991.63px;
    height: 936.92px;
    right: -270px;
    top: -180px;
  }  
  nav {
    @media screen and (max-width:1172px) {
       margin-bottom: 99px;
    }  
    display: flex;
    justify-content: space-between;
    margin-bottom:186px;

    img{
        object-fit: contain;
    }

    button{
        background-color: $color2;
        cursor: pointer;
       
    }
  }

  .header-content{
    @media screen and (max-width:1172px) {
        max-width: 398px;
        }  
    max-width: 457px;
    p{
        @media screen and (max-width:1172px) {
            margin: 25px 0;
        }  
        margin: 29px 0 40px;
        
    }

    button{
        background: $gradient1;
        @media screen and (max-width:764px){
          margin-bottom:46px;
        }
    }
  }
}
